<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>
<div class="instructions">
  <ul>
    <li>
      <h3>Press <i class="fas fa-calendar-plus"></i> to add item
    </li>
    <li>
      <h3>Click <i class="far fa-check-square"></i> to delete item when completed</h3>
    </li>
    <li>
      <h3>Type /(Type of List) in web address <br> to switch between lists</h3>
    </li>
  </ul>
</div>

<div class="weather">
 <h2 style="font-family: 'Grandstander', cursive;">Weather for <%= city %>:</h2>
  <h3>The conditions are : <%= description %> </h3>
  <h3>The temprature is : <%= temp %> ยบ</h3>
  <img src="<%= imgUrl %>" alt="weather-img">
</div>

<div class="box">
  <% newListItems.forEach(item => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%=item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>
  <% }) %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>"><i class="fas fa-calendar-plus"></i></button>
  </form>
</div>
<%- include("footer") -%>